body {
    background-color: black;
    background-image: url('./sky.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 10vh 80vh 10vh;
}

#Apollo11 {
    position: absolute;
    bottom: -300px;
    grid-column: 1/2;
    grid-row: 3/4;
    animation: yMotion 15s infinite ease-out;
}

#Apollo11CM {
    width: 8vw;
    height: auto;
    animation: xMotion 15s infinite ease-in;
}

#moon {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

#moon img {
    align-self: center;
    justify-self: center;
    width: 40vw;
    height: auto;
}

/*ANIMATION*/

/*To achieve a curved trajectory, place the element that will be visibly animated in an invisible container and apply a different animation to each.*/

    
    @keyframes xMotion {
     50% {
        animation-timing-function: ease-in;
        transform: translateX(40vw);
     }
    }
    
    @keyframes yMotion {
     50% {
        animation-timing-function: ease-out;
        transform: translateY(-40vh);
     }
    }