body {
    display: grid;
    grid-template-columns: 10vw auto 15vw;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: black;
    background-image: url('./sky.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#info {
    grid-column: 1/3;
    grid-row: 1/2;
    color: rgb(200, 216, 173);
    font-size: 1rem;
    font-family: 'Exo', sans-serif;
}

#Apollo11 {
    position: absolute;
    bottom: -100px;
    grid-column: 1/2;
    grid-row: 3/4;
    animation: yMotion 15s infinite ease-out;
}

#Apollo11CM {
    width: 8vw;
    height: auto;
    animation: xMotion 15s infinite ease-in;
}

#moon {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

#moon img {
    align-self: center;
    justify-self: center;
    width: 40vw;
    height: auto;
    border-radius: 50%;
    box-shadow: inset 90px 0 90px 15px rgb(16, 16, 17), 20px 0px 90px 5px #cad1a24d;
}

#Earth-container {
    grid-column: 3/4;
    grid-row: 2;
    align-self: end;
    justify-self: start;
    height: 12rem;
    width: 12rem;
}

#Earth {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border-left: 1px outset rgb(14, 6, 41);
    border-right: 1px outset rgb(51, 27, 95);
    background-image: url('./NASA\ seamless\ map\ bluemarble-2048.png');
    background-size: cover;
    background-position: center center;
    transition: transform 0.002s linear;
    animation: Earth-rotation 10s infinite linear;
    box-shadow: inset 50px 0 50px 5px rgb(1, 1, 12), 1px 0px 90px 5px #022b4986;
    transform-style: preserve-3d;
}

/*ANIMATION*/

/*To achieve a curved trajectory, place the element that will be visibly animated in an invisible container and apply a different animation to each.*/

    
    @keyframes xMotion {
     50% {
        animation-timing-function: ease-in;
        transform: translateX(40vw) rotate(360deg);
     }
    }
    
    @keyframes yMotion {
     50% {
        animation-timing-function: ease-out;
        transform: translateY(-40vh);
     }
    }

    @keyframes Earth-rotation {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position:2048 0;
        }
    }